[Unit]
Description=Pi-hole FTL daemon
Documentation=man:pihole-FTL(8)
After=network.target

[Service]
Type=simple
User=pihole
Group=pihole
#ExecStartPre=/usr/bin/pihole-FTL test
ExecStart=/usr/bin/pihole-FTL no-daemon
ExecReload=/bin/kill -HUP $MAINPID
RemoveIPC=true
RuntimeDirectory=pihole

[Install]
WantedBy=multi-user.target
